<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SisUvex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SisUvex.Properties.Settings>
            <setting name="ManifestsFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterDocuments" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterPallet" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterPti" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterCode" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
        </SisUvex.Properties.Settings>
    </userSettings>
</configuration>